---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SEO } from "@consts";

type Props = {
  title: string;
  description: string;
  image?: string;
  article?: {
    publishedTime?: Date;
    modifiedTime?: Date;
    author?: string;
    tags?: string[];
  };
  noindex?: boolean;
};

const { title, description, image, article, noindex } = Astro.props;
---

<!doctype html>
<html lang={SEO.LANGUAGE} dir="ltr">
  <head>
    <Head 
      title={title} 
      description={description} 
      image={image}
      article={article}
      noindex={noindex}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
